{erl_first_files, ["exch", "limit"]}.
{deps, [
  {syslog, ".*",  {git, "https://github.com/schlagert/syslog.git", "HEAD"}},
  {amqp_client, ".*", {git, "https://github.com/jbrisbin/amqp_client.git", "HEAD"}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "HEAD"}}
]}.
{erl_opts, [{i, "deps/amqp_client/include"}]}.